#messageTextArea {
    resize: none;
    outline: none;
    -moz-appearance: none;
    /*border: 1px solid #999;*/
    height: 60px;
    /*overflow: hidden;*/
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
    width: 95%;
}

.chat-interface-table {
    width: 100%;
}

.chat-interface-button-td {
    vertical-align: top;
    width: 40px;
}

#messageSendButton,
#messageEditButton {
    height: 60px;
}